
<h1>Welcome to ReviewEat</h1>
<h2>We are a restaurant review startup based somewhere on the web. We are here to help you warn people about that shitty restaurant you went to today or that awesome Bar with beautiful bartenders you went to last week with your colleagues.</h2>
